<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <header><%- include("../partials/_nav.ejs") %></header>
    <h2>管理員</h2>
    <a href="/admin/A_blog">管理博客</a>
    <a href="/admin/A_store">管理商品</a>
    <a href="/user/logout">登出</a>
    <footer><%- include("../partials/footer.ejs") %></footer>
</body>
</html>
