<div class="form-group">
    <label for="title">寵物</label>
    <input required value="<%= pet.title %>" type="text" name="title" class="form-control">
    <label for="title">寵物品種</label>
    <input required value="<%= pet.category %>" type="text" name="category" class="form-control">
</div>

<a href="/admin/A_product/pets" class="btn btn-secondary">取消</a>
<button type="submit" class="btn btn-primary">保存</button>