<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>
<body>
    <h1>這是寵物用品主頁</h1>
    <nav>
        <a href="/product">產品</a>
        <a href="/service">服務種類</a>
        <a href="/course">課程</a>
        <a href="/blog">Blog活動</a>
        <a href="/about">關於我們</a>
        <a href="/auth">登入/註冊</a>
        <a>附加功能</a>
        <a>footer</a>
    </nav>
</body>
</html>